footer
    div
        img(src="img/ezetaLogo.svg", alt="logo EZETA", class="logo")
        div &copy; EZETA.  Todos los derechos reservados.
        div 
            a(href="https://www.osoco.es" target="_BLACK") Diseñado con
                img(src="img/corazon.svg" alt="amor")
                | por OSOCO.ES
        div Aviso legal | Política de privacidad | Términos legales | Cookies
        a.ancla(href="#welcome") subir