header#mainHeader.menu
    .slider
        img(src="img/ezetaLogo.svg", alt="logo EZETA")
        ul
            li.welcome.active
                a.ancla(href="#welcome")  Inicio
            li.services
                a.ancla(href="#services") Servicios
            li.team
                a.ancla(href="#team") Equipo
            li.success
                a.ancla(href="#success") Casos de éxito
            li.where  
                a.ancla(href="#where") contacto
    #hamburguerButton
        span