doctype html
html(class="no-js", lang="es")
  <!--<![endif]-->
  block variables
  include ../mixins/mixins
  include ../includes/head
  body(class=bodyClasses)
    include ../includes/header
    block content
    include ../includes/footer
    include ../includes/scripts

