/* reset */
*, *::after, *::before {
	box-sizing: border-box;
	margin:0;
}
html {
	font-size: 62.5%;
	font-family: $font-regular;
}

body {
	font-size:$font-size-base;
	color: $colorText;
	background-color: $colorBody;
	margin:0;
	&.openedMenu{
		overflow: hidden;
		@media (min-height:768px) {
			overflow: initial;
		}
	}
}
main#landingPage{
	z-index: 1;
}
h1, h2, h3, h4, h5, h6{
	font-family: $font-title-light;
	line-height: $line-height-title;
	margin-bottom: 1em;
}
h1{
	font-size: $font-size-base*3;
}
h2{
	font-size: $font-size-base*2.5;
}
h3{
	font-size: $font-size-base*1.6;
}
h4{
	font-size: $font-size-base*1.2;
}
p, li{
	line-height: $line-height-base;
}
p{
	margin-bottom: $line-height-base;
}
img{
	max-width: 100%;
	max-height: 100%;
}
a{
	color: $colorLink;
	text-decoration: none;
}
section{
	display: flex;
	align-items: center;
	justify-content: left;
}
strong{
	font-family: $font-bold;
}
.hidden{
	display: none;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}
.buttons{
	margin: 1em 0;
}
.btn{
	font-size: 16px;
	font-family: $font-btn;
	background-color: $colorLink;
	border: 1px solid $colorLink;
	color: $colorW;
	height: 48px;
	border-radius: 8px;
	padding: 5px 20px;
	display: inline-block;
	cursor: pointer;
	outline: none;
	+ .btn,
	+ .btn2{
		margin-left: 1em;
	}
}
.btn2{
	@extend .btn;
	background-color: $colorW;
	color: $colorLink;
}
footer{
	a.ancla{
		position: fixed;
		z-index: 2;
		bottom: 0;
		right: 0;
	}
}