.form-control{
    padding: 1em;
    background-color: var(--colorW);
    font-family: var(--font-form);
    font-size: var(--font-size-base);
    border: 1px solid var(--color-3);
    border-radius: 4px;
    width: 100%; 
}
