/* reset */
*, *::after, *::before {
	box-sizing: border-box;
	margin:0;
}
html {
	font-size: 62.5%;
	font-family: var(--font-regular);
}

body {
	font-size:var(--font-size-base);
	color: var(--colorText);
	background-color: var(--colorBody);
	margin:0;
	&.openedMenu{
		overflow: hidden;
		@media screen and (min-width:768px) {
			overflow: initial;
		}
	}
}
main#landingPage{
	z-index: 1;
}
h1, h2, h3, h4, h5, h6{
	font-family: var(--font-title-light);
	line-height: var(--line-height-title);
	margin-bottom: 1em;
}
h1{
	font-size: calc(var(--font-size-base)*3);
}
h2{
	font-size: calc(var(--font-size-base)*2.5);
}
h3{
	font-size: calc(var(--font-size-base)*1.6);
}
h4{
	font-size: calc(var(--font-size-base)*1.2);
}
p, li{
	line-height: calc(var(--line-height-base));
}
p{
	margin-bottom: calc(var(--line-height-base));
}
img{
	max-width: 100%;
	max-height: 100%;
}
a{
	color: var(--colorLink);
	text-decoration: none;
}
strong{
	font-family: var(--font-bold);
}
.hidden{
	display: none;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}
.buttons{
	margin: 1em 0;
}
.btn{
	font-size: 16px;
	font-family: var(--font-btn);
	background-color: var(--colorLink);
	border: 1px solid var(--colorLink);
	color: var(--colorW);
	height: 48px;
	border-radius: 8px;
	padding: 5px 20px;
	display: inline-block;
	cursor: pointer;
	outline: none;
	+ .btn,
	+ .btn2{
		margin-left: 1em;
	}
}
.btn2{
	@extend .btn;
	background-color: var(--colorW);
	color: var(--colorLink);
}
footer{
	a.ancla{
		position: fixed;
		z-index: 2;
		bottom: 0;
		right: 0;
	}
}